body {
    padding: 0px;
    margin: 0px;
    background: linear-gradient(red, blue);
}
.card {
    display: flex;
    border-radius: 40px;
    border-style: solid;
    border-width: 5px;
    border-color: gold;
}
.card-body {
    display: absolute;
    padding: 30px;
    width: 100%;
}
.navbar {
    display: flex;
    border-radius: 20px;
    padding: 20px;
}
.new-user {
    display: flex;
    justify-content: flex-end;
}
.button {
    display: flex;
    justify-content: center;
}
.card-img-top {
    overflow: hidden;
}
.new-user a {
    text-decoration: none;
}
.new-user a:hover {
    text-decoration: underline;
}
